---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Title from "../../components/ui/Title.astro";
import PrivacyPolicies from "../../components/home/PrivacyPolicies.astro";
---

<BaseLayout title="Políticas de Privacidad">
  <main>
    <section class="content">
      <Title title="POLÍTICAS DE">PRIVACIDAD</Title>
      <PrivacyPolicies />
    </section>
  </main>
</BaseLayout>

<style lang="scss">
  .content {
    padding: 5em;
    display: grid;
    gap: 1em;
  }
</style>
