---
const brands = [
  {
    name: "BenQ",
    imageUrl: "./images/logo-benq.webp",
  },
  {
    name: "Epson",
    imageUrl: "./images/logo-epson.webp",
  },
  {
    name: "inFocus",
    imageUrl: "./images/logo-infocus.webp",
  },
  {
    name: "LG",
    imageUrl: "./images/logo-lg.webp",
  },
  {
    name: "Optoma",
    imageUrl: "./images/logo-optoma.webp",
  },
  {
    name: "Sony",
    imageUrl: "./images/logo-sony.webp",
  },
];
---

<div class="brands-wrapper">
  <div class="brands-wrapper__container">
    <ul class="brands-list">
      {
        brands.map((brand) => (
          <li class="brands-list__item">
            <img src={brand.imageUrl} alt={brand.name} />
          </li>
        ))
      }
    </ul>
  </div>
  <div class="brands-wrapper__container">
    <ul class="brands-list">
      {
        brands.map((brand) => (
          <li class="brands-list__item">
            <img src={brand.imageUrl} alt={brand.name} />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .brands-wrapper {
    width: 82%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;

    &:hover .brands-list {
      animation-play-state: paused;
    }

    &__container {
      display: inline-block;
      margin-left: 1em;
    }
  }

  .brands-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    max-width: 100%;
    animation: 30s slide infinite linear;

    &__item {
      background: #fff;
      border-radius: 1em;
      padding: 0.2em 1em;
      display: flex;
      place-items: center;

      img {
        width: 8em;
        margin: auto;
        object-fit: contain;
      }
    }
  }
</style>
