---
import { termsAndConditions } from "../../data-list";
---

<section class="privacy-policies">
  {
    termsAndConditions.map((item) => (
      <div class="content">
        <div class="subtitle">{item?.subTitle || ""}</div>
        <div class="description">{item?.description || ""}</div>
      </div>
    ))
  }
</section>

<style lang="scss">
  .privacy-policies {
    display: grid;
    gap: 2.5em;

    .content {
      display: grid;
      gap: 0.8em;

      .subtitle {
        font-size: x-large;
        font-weight: bold;
      }
      .description {
        font-size: large;
        line-height: 1.3em;
      }
    }
  }
</style>
